body{
	background: #5fb0fc;
	background: -webkit-linear-gradient(#5fb0fc, #002447);
	background: -o-linear-gradient(#5fb0fc, #002447);
	background: -moz-linear-gradient(#5fb0fc, #002447);
	background: linear-gradient(#5fb0fc, #002447);
	
	height:100%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
	  height: 70%;
  }
  .container h1{
	  text-color:#848482;
	  font-family:Comic sans ms;
  }
  .align{
	  text-align:center;
  }
  .button {
    background-color: white;
    border: none;
	border-radius:7px;
    color:black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color:#4CAF50;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color:white;
    color:black;
}
 